*{
    margin: 0%;
    padding: 0%;
    font-family: "Poppins", sans-serif;
    
}

.hero--section{
    background: url(images/heroSectionBackground.png);
    background-size: cover;
    background-position: center;
    min-height: 60vh;
    
    
}

.hero--section--body h1{
    text-align: center;
    color: white;
    font-weight: 400;

}

.hero--section--nav--group i{
    font-size: 20px;
    color: white;
}

.hero--section--nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 60px;
    padding:16px 48px;

}
.hero--section--app,.nav--group {
    text-decoration: none;
    color: white;
}

.hero--section--nav--group{
    display: flex;
    gap: 30px;
}

.hero--section--body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-around;
    min-height: calc(60vh-60px);
    gap:32px;
}

.zomato--logo{
    height: 75px; 
    flex-wrap: wrap;
}

.hero--section--body--search{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 60%;
    height: 50px;
    border-radius:10px; 
    padding-left:20px;
    gap:5%;
}

.hero--section--nav--group i {
    display: none;
}

.hero--section--body--element{
    display: flex;
    width:100%;
    outline: none;
    border: none;  
    
}
#place{
    border-right: 2PX solid grey;
    width: 40%;
}

@media only screen and (max-width:600px) {

    .hero--section--nav--group a{
        display: none;
    }
    .hero--section--nav--group i {
        display: flex;
    }
    .zomato--logo{
        height: 50px;
    }
    .hero--section--body--search{
        flex-direction: column;
        background-color: transparent;
        width: 80%;
        padding: 20PX;
        gap: 10px;
    }
    .hero--section--body--element{
        padding: 15px;
        border-radius: 10px;
        width: 95%;
    }
    #place{
        border-right: 2PX solid grey;
        width:95%;
    }
}


.container--card{
    margin: 30px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap:wrap;

}

.card--box{
    height:290px ;
    width: 250px;
    border-radius: 10px;
    outline: gray solid 1px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    
}
.card--box:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2), 0 6px 20px 0 rgb(0,0,0,0.19);
    
    
}
.card--box img {
    width:100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.card--box--text{
 padding: 5px;
    
}

.card--box--text h2{
    font-weight: 400;
    
}
.card--box--text p {
    font-size: small;
    font-weight:l200;
}

.container--display{
    
    margin: 20px auto;
    width: 90%;  
    flex-wrap: wrap;
}
.display--text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.display--text a {
    color: rgb(239, 79, 95);
    text-decoration: none;
}
.display--card--holder{
    margin: 10px auto;
    width: 90%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    flex-wrap: wrap;
}

.display--card {
width: 200px;
height: 300px;
border-radius: 10px;
border: 1px solid gray;
overflow: hidden;
position: relative;
display: flex;
flex-wrap: wrap;
transition: all 0.3s ease;
}

.display--card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2), 0 6px 20px 0 rgb(0,0,0,0.19);
}


.image1{
    background: url(images/collection1.jpg);
}
.image2{
    background: url(images/collection2.jpg);
}
.image3{
    background: url(images/collection3.jpg);
}
.image4{
    background: url(images/collection4.jpg);
}
.image1 ,.image2.image3.image4{
    background-size:cover;
    background-position: center;
}
.display--card h2{
    position: absolute;
    left: 0%;
    bottom: 0px;
    color:white;
    font-size:medium;
    font-weight: 400;
    padding-bottom:20px;
    padding-left: 5px;
}

.display--card p{
    position: absolute;
    left: 0%;
    bottom: 0px;
    color:white;
    font-size:small;
    font-weight: 200;
    padding-bottom:5px;
    padding-left: 5px;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.842)0%,
        rgba(0, 0, 0, 0.100)50%,
        rgba(0, 0, 0, 0)75%,
        rgba(0, 0, 0, 0)100%
    );
}
.container--promotion{
    margin: 10px auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap:5px;
}

.promotion--image img{
    height: 350px;
    padding: 20px;
}

.promotion--content{
    display: flex;
    align-items:flex-start;
    justify-content:center;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
  
}

.promotion--content h1{
    font-weight: 400;
    font-size: 2rem;
    
}

.promotion--content p {
    font-weight:500;
    font-size:13px;
    
}

.promotion--content h4{
    font-weight: 400;
    font-size: 0.8rem;
    color: grey;
}
.content--icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}
.content--icon img{
    height:50px;
    cursor: pointer;
}
.radio--button label{
    font-size: 1rem;
    font-weight:300;
    padding: 5px;
}
.content--email--box{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

.content--email--box button{
    border-radius: 5px;
    border: none;
    height:50px;
    width: 30%;
    color:white;
    background-color:rgb(239, 79, 95);
    padding: 5px;
    cursor: pointer;
}


.content--email--box input{
    border-radius: 5px;
    border: none;
    height: 50px;
    width:70%;
    padding-left:20px;
    outline: gray 1px solid;
}

.container--locations{
    margin: 10px auto;
    width: 90%;
    padding: 20px;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    gap:10px;
    flex-wrap: wrap;
    
}

.container--locations h1{
    font-weight: 200;
    font-size: 2.5rem;
}
.container--locations span{
    font-weight:500;
    font-size: 2.5rem;
}
.location--places{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:15px;
}

.location--places--area{
    height:50px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px;
    outline: 1px gray solid;
    cursor: pointer;
}
.location--places--area h1{
    font-weight: 400;
    font-size:1.5rem;
}
.location--places--area h2{
    font-weight:300;
    font-size:1.25rem ;
}

.explore{
    margin: 10px auto;
    width: 90%;
    padding: 20px;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    gap:10px;
    flex-wrap: wrap;
}
.explore h1{
    font-weight:400;
    font-size:2rem ;
}


.exolore--container{
    margin: 10px auto;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
    gap: 10px;
}

.exolore--container h2{
    cursor: pointer;
    width: 100%;
    outline: 0.5px grey solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:1.5rem;
    font-weight: 300;
    padding: 15px;
    border-radius:5px;
}

.end--section{
    background-color: whitesmoke;
}

.footer{
    margin:10px auto;
    width:90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}

.footer--title{
    height: 50px;
    width: 100%;
    padding:20px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}
.footer--title img{
    height: 40px;
}
.footer--title--icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;

}

.footer--title--icon button{
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0.5px solid gray;
    height:40px;
    width:100px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding:20px;

}
.footer--title--icon img{
    width:17px;
    height: auto;

}
.footer--title--icon i{
    padding: 5px;
}

.container--titel{
    width: 100%;
    display: flex;
    align-items:flex-start;
    justify-content:space-between;
    flex-wrap: wrap;
   
}
.footer--title--content{
    display: flex;
    align-items:left;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
}

.footer--title--content h1{
    font-size: 1rem;
    font-weight:600;
}
.footer--title--content h2{
    font-size: 1rem;
    font-weight:400;
    color: gray;
    cursor: pointer;
}
.social--link{
    display: flex;
    align-items:center;
    justify-content:left;
    gap: 5px;
    padding: 5px;
    cursor: pointer;
}
.footer--title--content img{
    height:30px;
    padding: 5px;
    cursor: pointer;
}

footer{
    margin: 10px auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer h4{
    color: gray;
    font-size: 0.8rem;
    font-weight: 400;
    border-top: 1px solid gray;
    padding-top: 10px;
    
}